<% layout("layouts/boilerplate")%>
<h1>Search Results for "<%= query %>"</h1>

<% if (results.length > 0) { %>
<ul>
  <% results.forEach(book => { %>
  <li>
    <strong><%= book.title %></strong><br />
    <em><%= book.author %></em>
    <!-- Adjust this according to your model -->
    <a href="/books/<%= book._id %>">View Details</a>
  </li>
  <% }) %>
</ul>
<% } else { %>
<p>No results found.</p>
<% } %>
