/* index.css */

.container {
  background-color: #191d32;
  color: #fff;
  border-radius: 0.35rem;
}

.text-center .display-4 {
  color: #6d3b47; /* crimson */
}

.text-center .lead {
  color: #e9edc9; /* light Muted text color */
}

.btn-lg {
  background-color: #6d3b47; /* crimson */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.btn-lg:hover {
  background-color: #453a49;
  color: #fff;
  transform: scale(1.05);
}

.card {
  border: 1px solid #282f44;
  background-color: #282f44;
  color: #fff;
}

.card-title {
  color: #6d3b47;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none; /* Remove underline */
}

.card-title:hover {
  color: #e9edc9;
}

.card-text {
  color: #e9edc9;
  font-size: 1rem;
  margin-bottom: 15px;
}

.card-text small {
  font-size: 0.9rem;
  color: #e9edc9;
}

.card-text small {
  font-size: 0.9rem;
  color: #ccc;
}

.card img {
  max-height: 250px;
  object-fit: cover;
  border-radius: 0.25rem; /* Rounded corners for images */
  padding: 5px 0;
}

.btn-outline-primary {
  background-color: transparent;
  color: #fff;
  border: 1px solid #6d3b47;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
}

.btn-outline-primary:hover {
  background-color: #453a49;
  color: #fff;
  border-color: #453a49;
}
