<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/register.css" />

<div
  class="register-container container d-flex justify-content-center align-items-center"
>
  <div class="row flex-fill">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="register-card card shadow">
        <img src="<%= getRandomImage() %>" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <form
            action="/register"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                autofocus
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label" for="pasword">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                required
              />
            </div>
            <button class="btn btn-success w-100">Register</button>
          </form>
          <div class="login-section">
            <p>Already have an account?</p>
            <a href="/login" class="btn btn-success w-100">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
